// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
$green: #1edd88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
$light-blue: #14c0ba;


$color_first: #9EBE3B;
$color_second: #3D98FF;
$color_third: #FFA800;
$color_fourth: #55B5BD;
$color_logo: #AD12D6;
