// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
$green: #1edd88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
$light-blue: #14c0ba;

$color_first: #9ebe3b;
$color_second: #3d98ff;
$color_third: #ffa800;
$color_fourth: #14c0ba;
$color_logo: #ad12d6;
$color_table: #ffcc00;
