// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
$color_first: #2EC4C9;
$color_second: #83DB43;
$color_third: #6A9A40;
$color_fourth: #FFA800;
$color_fifth: #2283D8;
