// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

// Define fonts for body and headers
$font-family-sans-serif: "Barlow", sans-serif;
$headers-font: "Barlow", sans-serif;
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700 !important;
  line-height: 1.2;
}
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
