 <!--Carrousel-->
<div class="wrapper">
  <div class="slideshows">
    <div class="slideshow slideshow--hero">
      <div class="slides">
        <div class="slide slide1"><p class="text-banner">¡El conocimiento es poder!</p></div>
        <div class="slide slide2"><p class="text-banner">Te ayudamos a continuar aprendiendo</p></div>
        <div class="slide slide3"><p class="text-banner">Inicia tu camino al éxito</p></div>
      </div>
    </div>
    <div class="slideshow slideshow--contrast slideshow--contrast--before">
      <div class="slides">
        <div class="slide slide1"></div>
        <div class="slide slide2"></div>
        <div class="slide slide3"></div>
      </div>
    </div>
    <div class="slideshow slideshow--contrast slideshow--contrast--after">
      <div class="slides">
        <div class="slide slide1"></div>
        <div class="slide slide2"></div>
        <div class="slide slide3"></div>
      </div>
    </div>
  </div>
</div>

<!--Carrousel end-->

<!-- Icons advantages-->
<div class="container">

  <section class="advantages row justify-content-center text-center" >
  <h3>En APRENDE YA! tendrás: </h3>

  <div class="advantage col-12 col-md-6 col-lg-3">
    <div data-aos="fade-right">
      <i class="fas fa-chalkboard-teacher icon-learning"></i>
      <p>Acceso las 24 horas</p>
    </div>
  </div>
  <div class="advantage col-12 col-md-6 col-lg-3 text-center">
    <div data-aos="fade-right">
      <i class="fas fa-graduation-cap icon-learning"></i>
      <p>Aprendizaje guiado</p>
    </div>
  </div>
  <div class="advantage col-12 col-md-6 col-lg-3 text-center">
    <div data-aos="fade-left">
      <i class="fab fa-leanpub icon-learning"></i>
      <p>Cientos de recursos</p>
    </div>
  </div>
  <div class="advantage col-12 col-md-6 col-lg-3 text-center">
    <div data-aos="fade-left">
      <i class="far fa-smile-wink icon-learning"></i>
      <p>Diversión asegurada</p>
    </div>
  </div>
</section>
</div>
<!--Icons advantages end-->
<!--About-->
<section class="about">
  <div class="container row">
    <div class="text-about col-12 col-md-6">
      <div data-aos="fade-up"
      data-aos-duration="3000">
        <h3>Acerca de nosotros</h3>
        <p>APRENDE YA! es una organización sin fines de lucro que busca ayudar a niños peruanos que no pueden acceder a una educación de manera presencial. Contamos con cientos de profesores voluntarios que acompañan el proceso de aprendizaje de los niños y los ayudan a descubrir nuevas formas de aprender. Creemos con firmeza que la educación es la mejor herramienta que les podemos proporcionar a los niños para hacer del Perú un país con más oportunidades para todos.</p>
      </div>
    </div>
    <div class="images-about col-12 col-md-6">
      <div data-aos="flip-left">
        <img class="img-rotate1" src="https://images.unsplash.com/photo-1554721299-e0b8aa7666ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
      </div>
      <div data-aos="flip-right">
        <img class="img-rotate2" src="https://images.unsplash.com/photo-1505155485412-30b3a45080ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=881&q=80" alt="" >
      </div>
    </div>
  </div>
</section>
<!--About end-->
<!--Reviews-->
<div class="container-reviews">
  <div class="container row justify-content-between py-5">
    <h3>Opiniones de nuestros usuarios </h3>
      <div class="review col">
        <h2>Julio Pérez</h2>
        <div class="line"></div>
          <div data-aos="fade-up" data-aos-duration="3000">
            <p><i class="fas fa-quote-left"></i> <br> La plataforma es muy fácil de usar y tiene muchos recursos muy divertidos, me gusta mucho estudiar aquí.
            </p>
          </div>
      </div>
      <div class="review col">
        <h2>Héctor Gonzales</h2>
        <div class="line"></div>
          <div data-aos="fade-up" data-aos-duration="3000">
            <p><i class="fas fa-quote-left"></i> <br> Me gusta Aprende Ya porque favorece el trabajo por competencias y la autonomía del alumno, como profesor me facilita mucho el trabajo.
            </p>
          </div>
      </div>

      <div class="review col">
        <h2>Bruno Rojas</h2>
          <div class="line"></div>
            <div data-aos="fade-up" data-aos-duration="3000">
              <p><i class="fas fa-quote-left"></i> <br> Gracias a Aprende Ya! pude continuar mis estudios y ya pasé de grado!! pude coordinar  con mi profesor para entregar las actividades los fines de semana.
              </p>
         </div>
      </div>
  </div>
</div>


<!--Reviews end-->
