 <!--Carrousel-->
<div class="wrapper">
  <div class="slideshows">
    <div class="slideshow slideshow--hero">
      <div class="slides">
        <div class="slide slide1"><p class="text-banner">Continúa aprendiendo con nosotros</p></div>
        <div class="slide slide2"><p class="text-banner">Tu educación es un derecho</p></div>
        <div class="slide slide3"><p class="text-banner">El aprendizaje es para todos</p></div>
      </div>
    </div>
    <div class="slideshow slideshow--contrast slideshow--contrast--before">
      <div class="slides">
        <div class="slide slide1"></div>
        <div class="slide slide2"></div>
        <div class="slide slide3"></div>
      </div>
    </div>
    <div class="slideshow slideshow--contrast slideshow--contrast--after">
      <div class="slides">
        <div class="slide slide1"></div>
        <div class="slide slide2"></div>
        <div class="slide slide3"></div>
      </div>
    </div>
  </div>
</div>

<!--Carrousel end-->

<!-- Icons advantages-->
<div class="container">

  <section class="advantages row justify-content-center text-center" >
  <h3 style="margin-bottom:25px">En APRENDE ¡YA! tendrás: </h3>
  <div class="advantage col-12 col-md-6 col-lg-3">
    <i class="fas fa-chalkboard-teacher icon-learning"></i>
    <p>Acceso online</p>
  </div>
  <div class="advantage col-12 col-md-6 col-lg-3 text-center">
    <i class="fas fa-graduation-cap icon-learning"></i>
    <p>Acceso a tus actividades</p>
  </div>
  <div class="advantage col-12 col-md-6 col-lg-3 text-center">
    <i class="fab fa-leanpub icon-learning"></i>
    <p>Mucho aprendizaje</p>
  </div>
  <div class="advantage col-12 col-md-6 col-lg-3 text-center">
    <i class="far fa-smile-wink icon-learning"></i>
    <p>Diversión asegurada</p>
  </div>
</section>
</div>
<!--Icons advantages end-->
<!--About-->
<section class="about">
  <div class="container row">
    <div class="text-about col-12 col-md-6">
    <h3>Acerca de nosotros</h3>
    <p>APRENDE ¡YA! es una organización sin fines de lucro que busca ayudar a niños peruanos que no pueden acceder a una educación de manera presencial. En APRENDE ¡YA! creemos que la educación es un derecho fundamental por ello queremos llegar a cada rincón del Perú para que todos los niños tengan acceso a una educación de calidad. </p>
    </div>
    <div class="images-about col-12 col-md-6">
      <img class="img-rotate1" src="https://images.unsplash.com/photo-1554721299-e0b8aa7666ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
      <img class="img-rotate2" src="https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="" >
    </div>
  </div>
</section>
<!--About end-->
<!--Reviews-->
<div class="container-reviews">
  <div class="container row justify-content-between">
    <h3>Lo que las personas opinan: </h3>
    <div class="container-review col-12 col-md-6 col-lg-4">
      <div class="review">
        <h2>Reseña</h2>
        <div class="line"></div>
        <p><i class="fas fa-quote-left"></i> <br> La plataforma es muy intuitiva y me fue fácil encontrar los cursos para desarrollar las actividades.
        </p>
      </div>
    </div>
    <div class="container-review col-12 col-md-6 col-lg-4">
      <div class="review">
        <h2>Reseña</h2>
        <div class="line"></div>
        <p><i class="fas fa-quote-left"></i> <br> Me gusta Aprende Ya porque favorece el trabajo por competencias y la autonomía del alumno.
        </p>
      </div>
    </div>
    <div class="container-review col-12 col-md-6 col-lg-4">
      <div class="review">
        <h2>Reseña</h2>
        <div class="line"></div>
        <p><i class="fas fa-quote-left"></i> <br> Aprende Ya realiza un gran trabajo pedagógico. Contiene excelentes aplicaciones educativas.
        </p>
      </div>
    </div>
  </div>
</div>


<!--Reviews end-->
